.containerindex {
    display: grid;
    grid-template-columns: repeat(8, 12.5vw);
    grid-template-rows: auto;
    background-color: #F7FAEF;
    color: #0B1532;
    font-family: Rockwell;
    grid-column-gap: 5px;
    line-height: 1.5;
}

.nav-box {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: #0B1532;
}

.a-box {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 9;
    text-align: center;
    padding: 15px;
}

.b-box {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.c-box {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 9;
    text-align: center;
}

.d-box {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.e-box {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.f-box {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.g-box {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;
}

.h-box {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 9;
}

.i-box {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 7;
}

.j-box {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 9;
}

.homefooter-box {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 9;
    background-color: #0B1532;
    margin-top: 30px;
    padding: 5px;
}

.landscapeplanterbed {
    width: 12.5vw;
    height: 25vh;
    object-fit: cover;
}

.portraitplanterbed {
    width: 12.5vw;
    height: 25vh;
    object-fit: cover;
}

.portraitherbs {
    width: 12.5vw;
    height: 51vh;
    object-fit: cover;
}

.portraitwomangardening {
    width: 25vw;
    height: 51vh;
    object-fit: cover;
}

.landscapepeopleplantingflowers {
    width: 50vw;
    height: 25vh;
    object-fit: cover;
}

.landscapecommunitygardensign {
    width: 25vw;
    height: 25vh;
    object-fit: cover;
}

.landscapesmallplants {
    width: 25vw;
    height: 25vh;
    object-fit: cover;
}

